@grid-bp-small: 320px; 
@grid-bp-medium: 640px;
@grid-bp-large: 728px;
@grid-bp-xlarge: 980px;
@grid-bp-xxlarge: 1200px;
@grid-prefix: ~'';
@grid-gutter: 20px;

/*GRIDHERE*/
/*
.calc-col(@attribute,  @columns:12,  @columnGutter:0,  @offset:0,  @area:100%,  @totalColumns:12,  @outsideGutter:false,  @wrapper:false);
 */

.grid-apply-gutters(){
    
    &{
        margin-left: -@gutter/2;
        margin-right: -@gutter/2;
        &>.@{grid-prefix}cell{
            padding-left: @gutter/2;
            padding-right: @gutter/2;

            &:not([class*="@{grid-prefix}small-"]):not([class*="@{grid-prefix}medium-"]):not([class*="@{grid-prefix}large-"]):not([class*="@{grid-prefix}xlarge-"]):not([class*="@{grid-prefix}xxlarge-"]){
                padding-left: @gutter/2;
                padding-right: @gutter/2;
            }


            &.@{grid-prefix}align-center{
                .align-content(center)
            }


        }
        .@{grid-prefix}cell{ 
            margin-bottom: @grid-gutter;
            .@{grid-prefix}row,
            .@{grid-prefix}grid{
                padding-left: 0 !important;
                padding-right: 0 !important;
                width: calc(~"100% + @{grid-gutter}"); 
            }
        }
    }

}

& when (@bp = @grid-bp-small){


    .@{grid-prefix}row{

        .grid-apply-gutters();
        position: relative;

        .flex-display();
        .flex-wrap(wrap);

        &.@{grid-prefix}justify{
            .justify-content(space-between);
        }

        &.@{grid-prefix}align-bottom{ 
            .align-items(flex-end);
        }

        &.@{grid-prefix}margin-collapse{
            &>.@{grid-prefix}cell{
                margin-top:0 !important;
                margin-bottom:0 !important;
            }
        } 

        &.@{grid-prefix}collapse{
            margin-left: 0;
            margin-right: 0;
            width: auto;
            .@{grid-prefix}cell{
                padding: 0;
                margin: 0;
                .@{grid-prefix}row{
                    margin-left: 0;
                    margin-right: 0;
                    width: auto;
                }
            }
        }

        &>.@{grid-prefix}cell{

            //.flex-display();
            //.flex-wrap(wrap);   
            position: relative;
            

            &>*{
                width:100%;
            }

           .demo{
                position: relative;
                background-color: fade(#000,5%);
                padding-top:@gutter/2;
                padding-bottom:@gutter/2;
           }

           &:nth-child(1n) .demo{ background-color: fade(red,5%); }
           &:nth-child(2n) .demo{ background-color: fade(purple,5%); }
           &:nth-child(3n) .demo{ background-color: fade(blue,5%); }
           &:nth-child(4n) .demo{ background-color: fade(green,5%); }

           .box-sizing(border-box);
           padding-left: @gutter/2;
           padding-right: @gutter/2;
           margin-bottom: @grid-gutter;
           .flex();

           &.@{grid-prefix}small-auto{
               .flex(1);
           }

           &:not([class*="@{grid-prefix}small-"]):not([class*="@{grid-prefix}medium-"]):not([class*="@{grid-prefix}large-"]):not([class*="@{grid-prefix}xlarge-"]):not([class*="@{grid-prefix}xxlarge-"]){
               .flex(1);
           }

           &.@{grid-prefix}small-1 { width:(100% / 12) * 1; }
           &.@{grid-prefix}small-2 { width:(100% / 12) * 2; }
           &.@{grid-prefix}small-3 { width:(100% / 12) * 3; }
           &.@{grid-prefix}small-4 { width:(100% / 12) * 4; }
           &.@{grid-prefix}small-5 { width:(100% / 12) * 5; }
           &.@{grid-prefix}small-6 { width:(100% / 12) * 6; }
           &.@{grid-prefix}small-7 { width:(100% / 12) * 7; }
           &.@{grid-prefix}small-8 { width:(100% / 12) * 8; }
           &.@{grid-prefix}small-9 { width:(100% / 12) * 9; }
           &.@{grid-prefix}small-10{ width:(100% / 12) * 10;}
           &.@{grid-prefix}small-11{ width:(100% / 12) * 11;}
           &.@{grid-prefix}small-12{ width:(100% / 12) * 12;}

           &.@{grid-prefix}min,
           &.@{grid-prefix}small-min{ .flex(none); width: auto; }


        }

        &.@{grid-prefix}strict{

        }
                
        // .@{grid-prefix}cell.@{grid-prefix}strict,
        // &.@{grid-prefix}strict>.@{grid-prefix}cell{
        //    &.@{grid-prefix}small-1 { width:@1col + @grid-gutter; }
        //    &.@{grid-prefix}small-2 { width:@2col + @grid-gutter; }
        //    &.@{grid-prefix}small-3 { width:@3col + @grid-gutter; }
        //    &.@{grid-prefix}small-4 { width:@4col + @grid-gutter; }
        //    &.@{grid-prefix}small-5 { width:@5col + @grid-gutter; }
        //    &.@{grid-prefix}small-6 { width:@6col + @grid-gutter; }
        //    &.@{grid-prefix}small-7 { width:@7col + @grid-gutter; }
        //    &.@{grid-prefix}small-8 { width:@8col + @grid-gutter; }
        //    &.@{grid-prefix}small-9 { width:@9col + @grid-gutter; }
        //    &.@{grid-prefix}small-10 { width:@10col + @grid-gutter; }
        //    &.@{grid-prefix}small-11 { width:@11col + @grid-gutter; }
        //    &.@{grid-prefix}small-12 { width:@12col + @grid-gutter; }
        // }

        .@{grid-prefix}cell>*[data-ui]:last-child{
            margin-bottom: 0;
        }

        



    }





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @grid-bp-medium){


    .@{grid-prefix}row{

        .grid-apply-gutters();  

        &>.@{grid-prefix}cell{

            &.@{grid-prefix}medium-auto{
                .flex(1);
            }

            &:not([class*="@{grid-prefix}small-"]):not([class*="@{grid-prefix}medium-"]):not([class*="@{grid-prefix}large-"]):not([class*="@{grid-prefix}xlarge-"]):not([class*="@{grid-prefix}xxlarge-"]){
                .flex(1);
            }

            &.@{grid-prefix}medium-1 { width:(100% / 12) * 1; }
            &.@{grid-prefix}medium-2 { width:(100% / 12) * 2; }
            &.@{grid-prefix}medium-3 { width:(100% / 12) * 3; }
            &.@{grid-prefix}medium-4 { width:(100% / 12) * 4; }
            &.@{grid-prefix}medium-5 { width:(100% / 12) * 5; }
            &.@{grid-prefix}medium-6 { width:(100% / 12) * 6; }
            &.@{grid-prefix}medium-7 { width:(100% / 12) * 7; }
            &.@{grid-prefix}medium-8 { width:(100% / 12) * 8; }
            &.@{grid-prefix}medium-9 { width:(100% / 12) * 9; }
            &.@{grid-prefix}medium-10{ width:(100% / 12) * 10;}
            &.@{grid-prefix}medium-11{ width:(100% / 12) * 11;}
            &.@{grid-prefix}medium-12{ width:(100% / 12) * 12;}

            &.@{grid-prefix}medium-min{ .flex(none); width: auto; }


        }

        
        // .@{grid-prefix}cell.@{grid-prefix}strict,
        // &.@{grid-prefix}strict>.@{grid-prefix}cell{
        //    &.@{grid-prefix}small-1 { width:@1col + @grid-gutter; }
        //    &.@{grid-prefix}small-2 { width:@2col + @grid-gutter; }
        //    &.@{grid-prefix}small-3 { width:@3col + @grid-gutter; }
        //    &.@{grid-prefix}small-4 { width:@4col + @grid-gutter; }
        //    &.@{grid-prefix}small-5 { width:@5col + @grid-gutter; }
        //    &.@{grid-prefix}small-6 { width:@6col + @grid-gutter; outline:1px solid red; }
        //    &.@{grid-prefix}small-7 { width:@7col + @grid-gutter; }
        //    &.@{grid-prefix}small-8 { width:@8col + @grid-gutter; }
        //    &.@{grid-prefix}small-9 { width:@9col + @grid-gutter; }
        //    &.@{grid-prefix}small-10 { width:@10col + @grid-gutter; }
        //    &.@{grid-prefix}small-11 { width:@11col + @grid-gutter; }
        //    &.@{grid-prefix}small-12 { width:@12col + @grid-gutter; }



        //    &.@{grid-prefix}medium-1 { width:@1col + @grid-gutter; }
        //    &.@{grid-prefix}medium-2 { width:@2col + @grid-gutter; }
        //    &.@{grid-prefix}medium-3 { width:@3col + @grid-gutter; }
        //    &.@{grid-prefix}medium-4 { width:@4col + @grid-gutter; }
        //    &.@{grid-prefix}medium-5 { width:@5col + @grid-gutter; }
        //    &.@{grid-prefix}medium-6 { width:@6col + @grid-gutter; }
        //    &.@{grid-prefix}medium-7 { width:@7col + @grid-gutter; }
        //    &.@{grid-prefix}medium-8 { width:@8col + @grid-gutter; }
        //    &.@{grid-prefix}medium-9 { width:@9col + @grid-gutter; }
        //    &.@{grid-prefix}medium-10 { width:@10col + @grid-gutter; }
        //    &.@{grid-prefix}medium-11 { width:@11col + @grid-gutter; }
        //    &.@{grid-prefix}medium-12 { width:@12col + @grid-gutter; }

        // }


    }










}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @grid-bp-large){


    .@{grid-prefix}row{

        .grid-apply-gutters();
        &>.@{grid-prefix}cell{

            &.@{grid-prefix}large-auto{
                width: auto;
                .flex(1);
            }

            &.@{grid-prefix}min,
            &.@{grid-prefix}large-min{ .flex(none); width: auto; }

            &.@{grid-prefix}large-1 { width:(100% / 12) * 1; }
            &.@{grid-prefix}large-2 { width:(100% / 12) * 2; }
            &.@{grid-prefix}large-3 { width:(100% / 12) * 3; }
            &.@{grid-prefix}large-4 { width:(100% / 12) * 4; }
            &.@{grid-prefix}large-5 { width:(100% / 12) * 5; }
            &.@{grid-prefix}large-6 { width:(100% / 12) * 6; }
            &.@{grid-prefix}large-7 { width:(100% / 12) * 7; }
            &.@{grid-prefix}large-8 { width:(100% / 12) * 8; }
            &.@{grid-prefix}large-9 { width:(100% / 12) * 9; }
            &.@{grid-prefix}large-10{ width:(100% / 12) * 10;}
            &.@{grid-prefix}large-11{ width:(100% / 12) * 11;}
            &.@{grid-prefix}large-12{ width:(100% / 12) * 12;}

            &.@{grid-prefix}large-min{ .flex(none); width: auto; }

        }
        
        // .@{grid-prefix}cell.@{grid-prefix}strict,
        // &.@{grid-prefix}strict>.@{grid-prefix}cell{
        //    &.@{grid-prefix}large-1 { width:@1col + @grid-gutter; }
        //    &.@{grid-prefix}large-2 { width:@2col + @grid-gutter; }
        //    &.@{grid-prefix}large-3 { width:@3col + @grid-gutter; }
        //    &.@{grid-prefix}large-4 { width:@4col + @grid-gutter; }
        //    &.@{grid-prefix}large-5 { width:@5col + @grid-gutter; }
        //    &.@{grid-prefix}large-6 { width:@6col + @grid-gutter; }
        //    &.@{grid-prefix}large-7 { width:@7col + @grid-gutter; }
        //    &.@{grid-prefix}large-8 { width:@8col + @grid-gutter; }
        //    &.@{grid-prefix}large-9 { width:@9col + @grid-gutter; }
        //    &.@{grid-prefix}large-10 { width:@10col + @grid-gutter; }
        //    &.@{grid-prefix}large-11 { width:@11col + @grid-gutter; }
        //    &.@{grid-prefix}large-12 { width:@12col + @grid-gutter; }
        // }

    }




}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @grid-bp-xlarge){



    .@{grid-prefix}row{

        .grid-apply-gutters();

        .@{grid-prefix}grid{
            margin-left: -@gutter/2;
            margin-right: -@grid-gutter;
        }

        &>.@{grid-prefix}cell{

            &.@{grid-prefix}xlarge-auto{
                .flex(1);
            }

            &.@{grid-prefix}xlarge-1 { width:(100% / 12) * 1; }
            &.@{grid-prefix}xlarge-2 { width:(100% / 12) * 2; }
            &.@{grid-prefix}xlarge-3 { width:(100% / 12) * 3; }
            &.@{grid-prefix}xlarge-4 { width:(100% / 12) * 4; }
            &.@{grid-prefix}xlarge-5 { width:(100% / 12) * 5; }
            &.@{grid-prefix}xlarge-6 { width:(100% / 12) * 6; }
            &.@{grid-prefix}xlarge-7 { width:(100% / 12) * 7; }
            &.@{grid-prefix}xlarge-8 { width:(100% / 12) * 8; }
            &.@{grid-prefix}xlarge-9 { width:(100% / 12) * 9; }
            &.@{grid-prefix}xlarge-10{ width:(100% / 12) * 10;}
            &.@{grid-prefix}xlarge-11{ width:(100% / 12) * 11;}
            &.@{grid-prefix}xlarge-12{ width:(100% / 12) * 12;}

            &.@{grid-prefix}xlarge-min{ .flex(none); width: auto; }

        }
        
        // .@{grid-prefix}cell.@{grid-prefix}strict,
        // &.@{grid-prefix}strict>.@{grid-prefix}cell{
        //    &.@{grid-prefix}xlarge-1 { width:@1col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-2 { width:@2col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-3 { width:@3col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-4 { width:@4col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-5 { width:@5col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-6 { width:@6col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-7 { width:@7col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-8 { width:@8col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-9 { width:@9col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-10 { width:@10col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-11 { width:@11col + @grid-gutter; }
        //    &.@{grid-prefix}xlarge-12 { width:@12col + @grid-gutter; }
        // }


    }





}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @grid-bp-xxlarge){



    .@{grid-prefix}row{

        .grid-apply-gutters();

        &>.@{grid-prefix}cell{

            &.@{grid-prefix}xxlarge-auto{
                .flex(1);
            }

            &.@{grid-prefix}xxlarge-1 { width:(100% / 12) * 1; }
            &.@{grid-prefix}xxlarge-2 { width:(100% / 12) * 2; }
            &.@{grid-prefix}xxlarge-3 { width:(100% / 12) * 3; }
            &.@{grid-prefix}xxlarge-4 { width:(100% / 12) * 4; }
            &.@{grid-prefix}xxlarge-5 { width:(100% / 12) * 5; }
            &.@{grid-prefix}xxlarge-6 { width:(100% / 12) * 6; }
            &.@{grid-prefix}xxlarge-7 { width:(100% / 12) * 7; }
            &.@{grid-prefix}xxlarge-8 { width:(100% / 12) * 8; }
            &.@{grid-prefix}xxlarge-9 { width:(100% / 12) * 9; }
            &.@{grid-prefix}xxlarge-10{ width:(100% / 12) * 10;}
            &.@{grid-prefix}xxlarge-11{ width:(100% / 12) * 11;}
            &.@{grid-prefix}xxlarge-12{ width:(100% / 12) * 12;}

            &.@{grid-prefix}xxlarge-min{ .flex(none); width: auto; }

        }
        
        // .@{grid-prefix}cell.@{grid-prefix}strict,
        // &.@{grid-prefix}strict>.@{grid-prefix}cell{
        //    &.@{grid-prefix}xxlarge-1 { width:@1col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-2 { width:@2col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-3 { width:@3col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-4 { width:@4col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-5 { width:@5col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-6 { width:@6col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-7 { width:@7col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-8 { width:@8col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-9 { width:@9col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-10 { width:@10col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-11 { width:@11col + @grid-gutter; }
        //    &.@{grid-prefix}xxlarge-12 { width:@12col + @grid-gutter; }
        // }


    }







/*---------------------------------------------------------------------------------------------------------- end xLarge */
}
