.calc(@prop; @val) {
  @{prop}: calc(~'@{val}');
  @{prop}: -moz-calc(~'@{val}');
  @{prop}: -webkit-calc(~'@{val}');
  @{prop}: -o-calc(~'@{val}');
}



.keyframes(@name; @frames) {

}
// .keyframes(@name; @frames) {
//     @-moz-keyframes @name { @frames(); }
//     @-webkit-keyframes @name { @frames(); }
//     @-ms-keyframes @name { @frames(); }
//     @keyframes @name { @frames(); }
// }


@icons-path:'/icons/';


.icon-template(){
    
    display: inline-block;
    text-align: center;
    line-height: inherit;
    position: relative;
    vertical-align: middle;

    width: 1em;
    height: 1em;
    line-height: 1em;


    &.flip-horizontal { .fa-icon-flip(-1, 1, 0); }
    &.flip-vertical  { .fa-icon-flip(1, -1, 2); }

    &.rotate-90  { .fa-icon-rotate(90deg, 1);  }
    &.rotate-180 { .fa-icon-rotate(180deg, 2); }
    &.rotate-270 { .fa-icon-rotate(270deg, 3); }

    &.icon-stacked{
        .icon{
            position: absolute;
            top: 0;
            left: 0;
        }
    }

}

.svg-icon(@name, @color:'black'){
    @fullpath:"@{icons-path}@{name}";
    &:before{
        background-image: url("@{fullpath}-@{color}.svg");
    }
}

.fa-icon-rotate(@degrees, @rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
          transform: rotate(@degrees);
}

.fa-icon-flip(@horiz, @vert, @rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation, mirror=1);
  -webkit-transform: scale(@horiz, @vert);
      -ms-transform: scale(@horiz, @vert);
          transform: scale(@horiz, @vert);
}


    
.position(@top:auto, @right:auto, @bottom:auto, @left:auto){
    top:@top;
    right:@right;
    bottom:@bottom;
    left:@left;
}
.top-left(@top:0, @left:0){
    top:@top;
    left:@left;
}
.appearance(@value){
    -webkit-appearance:@value;
    -moz-appearance:@value;
    -ms-appearance:@value;
    appearance:@value;
}
.user-select(@string){
    -webkit-user-select:@string;
    -moz-user-select:@string;
    -ms-user-select:@string;
    user-select:@string;
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}
.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    box-sizing:         @type;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;
    -webkit-border-top-left-radius:     @topleft;

    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;
    -moz-border-radius-topleft:         @topleft;

    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
    border-top-left-radius:             @topleft;

    -moz-background-clip:    padding; 
    -webkit-background-clip: padding-box; 
    background-clip:         padding-box; 
}

.blur(@value){
    filter: blur(@value);
    -webkit-filter: blur(@value);
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.gradient (@startColor: #eee, @middleColor: #eee, @endColor: white) {
    // background-color: @middleColor;
    // background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    // background: -webkit-linear-gradient(top, @startColor, @endColor);
    // background: -moz-linear-gradient(top, @startColor, @endColor);
    // background: -ms-linear-gradient(top, @startColor, @endColor);
    // background: -o-linear-gradient(top, @startColor, @endColor)

    //background-color: @middleColor; /* Old browsers */
    background: -moz-linear-gradient(top,  @startColor 0%, @middleColor 50%, @endColor 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(50%,@middleColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @startColor 0%,@middleColor 50%,@endColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @startColor 0%,@middleColor 50%,@endColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @startColor 0%,@middleColor 50%,@endColor 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @startColor 0%,@middleColor 50%,@endColor 100%); /* W3C */



}

.gradient-2(@startColor: #eee, @endColor: white) {
    // background-color: @middleColor;
    // background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    // background: -webkit-linear-gradient(top, @startColor, @endColor);
    // background: -moz-linear-gradient(top, @startColor, @endColor);
    // background: -ms-linear-gradient(top, @startColor, @endColor);
    // background: -o-linear-gradient(top, @startColor, @endColor)

    background: -moz-linear-gradient(top,  @startColor 0%, @endColor 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @startColor 0%, @endColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @startColor 0%, @endColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @startColor 0%, @endColor 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @startColor 0%, @endColor 100%); /* W3C */



}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0s, @ease: ease,  @iteration:once) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation:    @name @duration @delay @ease;
    -ms-animation:     @name @duration @delay @ease;
    -webkit-animation-iteration-count: @iteration;
    -moz-animation-iteration-count: @iteration;
    -ms-animation-iteration-count: @iteration;
    animation-iteration-count: @iteration;
}

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}
.transition-delay (@delay) {
    -webkit-transition-delay: @delay;  
    -moz-transition-delay:    @delay;
    -ms-transition-delay:     @delay; 
    -o-transition-delay:      @delay;  

}
.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
}
.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform:      scale(@factor);
    -ms-transform:       scale(@factor);
    -o-transform:        scale(@factor);
}
.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform:      rotate(@deg);
    -ms-transform:       rotate(@deg);
    -o-transform:        rotate(@deg);
}
.skew (@deg, @deg2) {
    -webkit-transform:       skew(@deg, @deg2);
    -moz-transform:      skew(@deg, @deg2);
    -ms-transform:       skew(@deg, @deg2);
    -o-transform:        skew(@deg, @deg2);
}
.translate (@x, @y:0) {
    -webkit-transform:       translate(@x, @y);
    -moz-transform:      translate(@x, @y);
    -ms-transform:       translate(@x, @y);
    -o-transform:        translate(@x, @y);
}
.perspective (@value) {
    -webkit-perspective:@value;
    -moz-perspective:@value;
    -ms-perspective:@value;
    -o-perspective:@value;
    perspective:@value;
}
.translate3d (@x:0, @y: 0, @z: 0, @p:0) {
    -webkit-transform:      perspective(unit(@p, px))  translate3d(@x, @y, @z);
    -moz-transform:     perspective(unit(@p, px))  translate3d(@x, @y, @z);
    -ms-transform:       perspective(unit(@p, px)) translate3d(@x, @y, @z);
    -o-transform:        perspective(unit(@p, px)) translate3d(@x, @y, @z);
    transform:        perspective(unit(@p, px)) translate3d(@x, @y, @z);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.rotateY (@value) {
    -webkit-transform:   rotateY(@value);
    -moz-transform:      rotateY(@value);
    -ms-transform:       rotateY(@value);
    -o-transform:        rotateY(@value);
    transform:        rotateY(@value);
}
.rotateX (@value) {
    -webkit-transform:   rotateX(@value);
    -moz-transform:      rotateX(@value);
    -ms-transform:       rotateX(@value);
    -o-transform:        rotateX(@value);
    transform:        rotateX(@value);
}
.rotateZ (@value) {
    -webkit-transform:   rotateZ(@value);
    -moz-transform:      rotateZ(@value);
    -ms-transform:       rotateZ(@value);
    -o-transform:        rotateZ(@value);
    transform:        rotateZ(@value);
}
.perspective (@value: 1000) {
    -webkit-perspective:    @value;
    -moz-perspective:   @value;
    -ms-perspective:    @value;
    perspective:        @value;
}
.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
    transform-origin:      @x @y;
}










// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
    display: "-webkit-box";
    display: -webkit-box; 
    display: ~"-webkit-@{display}";
    display: ~"-moz-@{display}";
    display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
    display: ~"-ms-@{display}"; // IE11
    display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-box-flex: @columns;  
  -webkit-flex: @columns;
     -moz-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
     -moz-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
     -moz-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
     -moz-order: @order;
      -ms-order: @order;
          order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
     -moz-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

// Flex shr
// - applies to: flex itemsink factor
// <number> 
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
     -moz-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
     -moz-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
  -webkit-align-content: @align;
     -moz-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
  -webkit-align-items: @align;
     -moz-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
  -webkit-align-self: @align;
     -moz-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}



.btn-template(@color){
    border:1px solid saturate(darken(@color, 15%), -30%);
    border-bottom:1px solid saturate(darken(@color, 30%), -30%);
    background-color:@color;
    color: contrast(@color, darken(@color, 50%), #fff, 80%); 
    text-decoration: none;
    min-width: 58px;
    .icon-center{
        display: block;
        font-weight: normal;
    }
    i{
        font-size: @font-size-normal;
        line-height: 1;
        vertical-align: middle;
    }
    i.fa-stack-2x{
        font-size: @font-size-large*2;
        line-height: .5;
    }

    &.loading{
        color:rgba(255,255,255,0) !important;
        background-color:@color !important;
    }

    &.large{
        font-size: @font-size-large;
        padding:@element-padding*2;
    }
    &.chromeless{
        border-color:transparent;
        background:transparent;
    }

    &.active{
        i.icon-angle-down:before{
            content:'\F106' ;
        }
    }

    &:hover{
        color: contrast(@color, darken(@color, 50%), #fff, 80%); 
        background-color: darken(@color,5%);
        //border:1px solid lighten(@color,-5%);
        //border-bottom:1px solid saturate(darken(@color, 30%), -30%);
    }
    &:active{
        background-color:darken(@color, 10%);
        border-color:lighten(@color,-15%);
        color:contrast(@color, darken(@color, 60%), #fff, 80%); 
    }
}

.input-placeholder-color(@color){
    &::-webkit-input-placeholder{
        color:@color;
    }
    &::-moz-input-placeholder{
        color:@color;
    }
    &::-ms-input-placeholder{
        color:@color;
    }
    &::input-placeholder{
        color:@color;
    }
}


.border-frame-top(@color){
    //border-top:1px solid darken(@color, 3%);
    border-top:1px solid fade(#000,8%);
}
.border-frame-left(@color){
    //border-left:1px solid darken(@color, 3%);
    border-left:1px solid fade(#000,8%);
}
.border-frame-right(@color){
    //border-right:1px solid darken(@color, 3%);
    border-right:1px solid fade(#000,8%);
}
.border-frame-bottom(@color){ 
    //border-bottom:1px solid darken(@color, 15%);
    border-bottom:1px solid fade(#000,15%);
    //border-bottom:1px solid darken(@color, 15%);
}
.border-frame(@color: #fff){
    .border-frame-top(@color);
    .border-frame-left(@color);
    .border-frame-right(@color);
    .border-frame-bottom(@color);
    //border-radius:3px;
    //box-shadow:0px 1pt 1pt rgba(0,0,0,.25);
}

.button-template(@color-foreground:#000, @color-background:#fff, @display:inline-block, @font-size:@font-size-normal, @height:auto){
    position: relative;
    @offset:(@font-size)*.9;
    @icon-offset:-4px;
    @color:@color-foreground;
    display:@display;
    .user-select(none);
    cursor: pointer;
    text-align: center;

    //.gradient(fade(lighten(@color-background, 5%), 50%),fade(lighten(@color-background, 5%), 0%), fade(lighten(@color-background, -30%), 30%));
    background-color:@color-background;
    color: @color-foreground;
    .border-frame(@color-background);

    font:@font-normal;
    font-size: @font-size;
    line-height: (@height);
    text-decoration: none;
    min-width:(@element-padding*2)+@font-size;
    padding:@element-padding*2;
    padding-top:@element-padding;
    padding-bottom:@element-padding;
    .icon-center{
        display: block;
        font-weight: normal;
    }
    i{
        
        font-size: @font-size;
        //padding-top:@offset-padding/2;
        line-height: 1;
        margin-top: @icon-offset;
        vertical-align: middle;
        padding-right: @element-padding/2;
    }
    span+i{
        padding-right: 0;
        padding-left: @element-padding/2;
    }
    i.fa-stack-2x{
        font-size: @font-size-large*2;
        line-height: .5;
    }

    &.loading{
        color:rgba(255,255,255,0) !important;
        background-color:@color-foreground !important;
    }
    &.block{
        display: block;
    }
    &.small{
        &, 
        & i{ 
            font-size: (@font-size-small)-1;
        }
        padding:@element-padding/2;
        padding-left:@element-padding;
        padding-right:@element-padding;
    }
    &.large{
        &,
        & i{
            font-size: @font-size-large;
        }
        padding:@element-padding*2;
    }


    &.active{
        i.icon-angle-down:before{
            content:'\F106' ;
        }
    }

    &:hover{
        .button-hover(@color-foreground,@color-background);
    }
    &:active{
        .button-hover(@color-foreground,@color-background);
    }

    &.chromeless{
        border-color:transparent;
        background:transparent;
        //color:darken(@color-background,20%);
        //color:@color-background;
        color:contrast(@color-background, @color-background, #000, 90%);
        &:hover{
            color: darken(@color-background,30%);
        }
        &:active{
            color: darken(@color-background,40%);
        }
    }
    &.outline{
        border-color:transparent;
        background:transparent;
        border:1px solid @color-background;
        //color:darken(@color-background,20%);
        //color:@color-background;
        color:contrast(@color-background, @color-background, #000, 90%);
        &:hover{
            color: darken(@color-background,30%);
            border-color:darken(@color-background,30%);
        }
        &:active{
            color: darken(@color-background,40%);
            border-color:darken(@color-background,40%);
        }
    }
}

.button-hover(@color-foreground,@color-background){
    color:@color-foreground;
    background-color: darken(@color-background,5%);
}
.button-active(@color-foreground,@color-background){
    color:@color-foreground;
    background-color: darken(@color-background,7%);
}

.focus(@color:#000){
    outline:4px solid fade(@color,5%);
    outline-offset: -3px;
}



.ease(@transition){
-webkit-transition-timing-function: @transition;
-webkit-transition-timing-function: @transition;
   -moz-transition-timing-function: @transition;
     -o-transition-timing-function: @transition;
        transition-timing-function: @transition;
}
.ease(@transition) when (@transition = easeOutBack){
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.ease(@transition) when (@transition = easeInQuad){
-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
   -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
     -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
        transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
}
.ease(@transition) when (@transition = easeInCubic){
-webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
   -moz-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
     -o-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
        transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); /* easeInCubic */
}
.ease(@transition) when (@transition = easeOutQuad){
-webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
     -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
        transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}
.ease(@transition) when (@transition = easeOutCirc){
-webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
        transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}
.ease(@transition) when (@transition = easeInExpo){
    -webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
       -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
         -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); 
            transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
}
.ease(@transition) when (@transition = easeOutExpo){
-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
.ease(@transition) when (@transition = easeInOutExpo){
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
       -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
         -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
            transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
.ease(@transition) when (@transition = easeInOutSine){
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
       -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
         -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
            transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */
}
.ease(@transition) when (@transition = easeOutCubic){
-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}






















  .ease-none() {
    -webkit-transition-timing-function: none;
       -moz-transition-timing-function: none;
        -ms-transition-timing-function: none;
         -o-transition-timing-function: none;
            transition-timing-function: none;
  }

  .ease-linear(){
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  .ease(){
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
  }

  .ease-in(){
    -webkit-transition-timing-function: ease-in;
       -moz-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
         -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  .ease-out(){
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
        -ms-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }

  .ease-in-out(){
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }

  .easeInQuad(){
    -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
       -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
        -ms-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
         -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
            transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
  }

  .easeInCubic(){
    -webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
       -moz-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        -ms-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
         -o-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  .easeInQuart(){
    -webkit-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
       -moz-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
        -ms-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
         -o-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
            transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
  }

  .easeInQuint(){
   -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
       -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
          transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  }

  .easeInSine(){
    -webkit-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
       -moz-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
        -ms-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
         -o-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
            transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  }

  .easeInExpo(){
    -webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
       -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
        -ms-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
         -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
            transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
  }

  .easeInCirc(){
    -webkit-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
       -moz-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
        -ms-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
         -o-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
            transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
  }

  .easeInBack(){
    -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); // older webkit
    -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
       -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
        -ms-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
         -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
            transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
  }

  .easeOutQuad(){
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
       -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
         -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  .easeOutCubic(){
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
         -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  .easeOutQuart(){
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
         -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
            transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }

  .easeOutQuint(){
    -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
         -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
            transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }

  .easeOutSine(){
    -webkit-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
         -o-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
            transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  }

  .easeOutExpo(){
    -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }

  .easeOutCirc(){
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
         -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
            transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  }

  .easeOutBack(){
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); // older webkit
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
        -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
         -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }

  .easeInOutQuad(){
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
       -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
        -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
         -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
            transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  }

  .easeInOutCubic(){
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
         -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .easeInOutQuart(){
    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
         -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
            transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }

  .easeInOutQuint(){
    -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
         -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
            transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  }

  .easeInOutSine(){
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
       -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
        -ms-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
         -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
            transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  }

  .easeInOutExpo(){
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -ms-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
            transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  }

  .easeInOutCirc(){
    -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
       -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
        -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
         -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
            transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }

  .easeInOutBack(){
    -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); // older webkit
    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
        -ms-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
         -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
            transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }